<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>288836096597-oti6nqqq8t8eieu8v9ad1utqjein460h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288836096597-oti6nqqq8t8eieu8v9ad1utqjein460h</string>
	<key>API_KEY</key>
	<string>AIzaSyDG6b1N09f0gDSScZ7-nqU7mgJqhULnaAg</string>
	<key>GCM_SENDER_ID</key>
	<string>288836096597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ruslangritsenko.-25</string>
	<key>PROJECT_ID</key>
	<string>where-is-c57e8</string>
	<key>STORAGE_BUCKET</key>
	<string>where-is-c57e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288836096597:ios:14c2a99bbf0a16ad</string>
	<key>DATABASE_URL</key>
	<string>https://where-is-c57e8.firebaseio.com</string>
</dict>
</plist>